<p>reactive-form works!</p>
<div class="container mt-4">
    <h2>Reactive Form</h2>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" class="form-control" formControlName="name">
        <div *ngIf="reactiveForm.get('name')?.invalid && reactiveForm.get('name')?.touched" class="text-danger">
          Name is required.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" class="form-control" formControlName="email">
        <div *ngIf="reactiveForm.get('email')?.invalid && reactiveForm.get('email')?.touched" class="text-danger">
          Email is required and should be a valid email.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="reactiveForm.invalid">Submit</button>
    </form>
  </div>
  
